@* @model PizzaBox.Client.Models.UserModel *@
<h2>User Options</h2>

<a href="/order/SelectStore" class="btn btn-primary" role="button">Begin your order</a>
<a href="/user/userhistory" class="btn btn-primary" role="button">View your history</a>

 

