@* @model PizzaBox.Client.Models.UserModel *@
<h2>User Options</h2>
<ul>
  <li><a href="/order/SelectStore" class="btn btn-primary btn-lg" role="button">Begin your order</a></li>
  <li><a href="/user/userhistory" class="btn btn-primary btn-lg" role="button">View your history</a></li>
</ul>
 

