@{
    ViewData["Title"] = "Home Page";
}

<a href="/account/login" class="btn btn-primary btn-lg" role="button">Login</a>
@*Move this make orde</a>r link when login is created*@
@* <a href="/order/add">Make an Order</a> *@